<html>
<head>
<title>Welcome to W-Diff</title>
<style type="text/css">
   #dropbox {
      width: 100%; height: 50px;
      border: 2px solid #4B8A08;
      color: #0B3B17; background-color: #ACFA58;
      text-align: center; font-size: 2em; font-family: Arial, sans-serif;
   }

   #json {
      width:100%; height: 150px;
   }
</style>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.3/jquery.min.js"></script>
<script type="text/javascript" src="/nowjs/now.js"></script>
<script type="text/javascript">
   var parse, infos, stop = function (e) { e.stopPropagation(); e.preventDefault() }

   Number.between = function (min, max) { return Math.floor(Math.random() * (max - min + 1)) + min }

   $(document).ready(function () {
      now.ready(function () {
         $("#dropbox").bind("dragenter dragover dragexit", stop)
         $("#dropbox").bind("drop", function (e) {
            stop(e)
            //
            var file = e.originalEvent.dataTransfer.files[0];
            $("#info").html("Reading "+file.name)
            // reading dropped file.
            var reader = new FileReader()
            reader.onloadend = function (e) { 
               $("#json").val(e.target.result)
               parse()
            }
            reader.readAsText(e.originalEvent.dataTransfer.files[0])
         })

         parse = function parse()
         {
            var json = $("#json").val().replace(/\/\*[^/]*\*\//g, '') // remove this regexp to allow /* */ in options.
            try { JSON.parse(json) }
            catch (e) {
               $("#info").html("json parse error ("+e+")")
               return
            }
            //
            $("#render,#info").empty()
            infos = { screenshots : [], wdiff : { similar : [], different : [] } }
            //
            JSON.parse(json).forEach(function (entry) {
               if (entry instanceof Array)
                  wdiff(entry[0], entry[1])
               else
                  screenshot(entry)
            })
         }

         function screenshot(entry)
         {
            var id = "screenshot_"+Number.between(0, 1000000)
            $("#render").append('screenshot, entry = <pre>'+JSON.stringify(entry)+'</pre>')
            $("#render").append('<div id="'+id+'"><img src="/static/throbber.gif"</div>')
            now.screenshot(entry.url, entry.options, function (src) {
               $("#"+id).html('<img src="'+src+'"/>')
               //
               infos.screenshots.push("#"+id)
               updateInformations()
            })
         }

         function wdiff(entryA, entryB)
         {
            var imgs = [], id = "screenshot_"+Number.between(0, 1000000)
            $("#render").append('wdiff, <a href="'+entryA.url+'"><i>'+JSON.stringify(entryA)+'</i></a> \
                                     VS <a href="'+entryB.url+'"><i>'+JSON.stringify(entryB)+'</i></a>')
            $("#render").append('<div id="'+id+'"><img src="/static/throbber.gif"/></div>')
            function loadImage(src, position) {
               var img = new Image()
               img.onload = function () {
                  imgs[position] = img
                  if (imgs[0] && imgs[1])
                     onBothLoaded(imgs[0], imgs[1])
               }
               img.src = src
            }
            function onBothLoaded(imgA, imgB) {
               var canvas = document.createElement('canvas')
                  , leftMargin = 2
                  , width = Math.max(imgA.width, imgB.width) + leftMargin
                  , height = Math.max(imgA.height, imgB.height)

               canvas.width = width
               canvas.height = height
               var ctx = canvas.getContext("2d")
               // imgB
               ctx.drawImage(imgB, leftMargin, 0)
               var dataB = ctx.getImageData(0, 0, width, height).data
               canvas.width = width // reset
               // imgA
               ctx = canvas.getContext("2d")
               ctx.drawImage(imgA, leftMargin, 0)
               ctx.fillStyle = "rgba(0,255,0,255)";    // left margin
               ctx.fillRect(0, 0, leftMargin, height); // left margin
               var canvasData = ctx.getImageData(0, 0, width, height)
               var dataA = canvasData.data
               // diff loop
               var similar = true
               for (var x = leftMargin; x < width; ++x) {
                  for (var y = 0; y < height; ++y) {
                     var idx = (x + y * width) * 4
                     if (dataA[idx]   != dataB[idx]   ||
                         dataA[idx+1] != dataB[idx+1] ||
                         dataA[idx+2] != dataB[idx+2] ||
                         dataA[idx+3] != dataB[idx+3]) {
                        dataA[idx] = dataA[idx+3] = 255
                        dataA[idx+1] = dataA[idx+2] = 0;
                        // margin: red
                        dataA[y * width * 4 + 0] = 255
                        dataA[y * width * 4 + 1] = 0
                        dataA[y * width * 4 + 4] = 255
                        dataA[y * width * 4 + 5] = 0
                        similar = false
                     }
                  }
               }
               ctx.putImageData(canvasData, 0, 0)
               $("#"+id).html(canvas)
               //
               infos.wdiff[similar?'similar':'different'].push("#"+id)
               updateInformations()
            }
            now.screenshot(entryA.url, entryA.options, function (src) { loadImage(src, 0) });
            now.screenshot(entryB.url, entryB.options, function (src) { loadImage(src, 1) });   
         }

         function updateInformations()
         {
            $("#info").empty()
            if (infos.screenshots.length)
               $("#info").append(infos.screenshots.length+ " screenshots rendered.<br/>")
            if (infos.wdiff.similar.length || infos.wdiff.different.length)
               $("#info").append("wdiff: "+infos.wdiff.similar.length+ " similar / "+infos.wdiff.different.length + " different<br/>")
            // linking to differents
            var links = infos.wdiff.different.map(function (selector, idx) { return '<a href="'+selector+'">'+(idx+1)+'</a>' }).join(",")
            $("#info").append(links)
         }
      })
   });
</script>
</head>
<body>
   <div id="dropbox">Please, drop your test file here.</div>
   <div><textarea id="json"></textarea><input type="submit" value="parse" onclick="parse()"/></div>
   <div id="info"></div>
   <div id="render"></div>
</body>
</html>